/* CSS should go here */
body {
    background-color: #888888;
    margin: 0px;
    padding: 0px;
    font-size: 150%;
}
#main {
    background-color: #AAAAAA;
    border: 2px solid #333333;
    max-width: 800px;
    margin: auto;
}
#header {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    background-color: #888888;
    color: #FFFFFF;
}

.header_link:link, 
.header_link:visited, 
.header_link:hover,
.header_link:active {
    color: #000000;
    text-decoration: none;
}

.center {
    text-align: center;
}

.submission_field {
    width: auto;
    font-size: 50px;
    text-align:center;
}

#new_article {
    border-style: hidden;
    background-color: gray;
}

#go_button {
    background: #888888;
    border-width: 5px;
    border-style: groove;
    border-color: #333333;
}

#answer_button {
    background: #888888;
    border-color: #333333;
    border-width: 1px;
    border-style: solid;
    width: 100%; 
    font-size: 150%;
}

.sidebar {
    width: 30%;
    margin: 10px;
    padding: 10px;
    position: relative;
    float: right;
}

.center_wrapper {
    text-align: center;
}

fieldset {
    border: hidden;
}

/*
 * http://viralpatel.net/blogs/css-radio-button-checkbox-background/
 */
/*
Hide radio button (the round disc)
we will use just the label to create pushbutton effect
 */
input[type=radio] {
    display:none; 
    margin:15px;
}

/*
Change the look'n'feel of labels (which are adjacent to radiobuttons).
Add some margin, padding to label
 */
input[type=radio] + label {
    display:inline-block;
    padding: 4px 12px;
    background-color: #AAAAAA;
    border-color: #333333;
    border: dashed 1px;
    width: 100%;
    box-sizing: border-box;
}

/*
Change background color for label next to checked radio button
to make it look like highlighted button
 */
input[type=radio]:checked + label { 
    background-image: none;
    background-color:#888888;
}

input[type=radio] + label:hover { 
    background-image: none;
    background-color:#888888;
}

ul {
    list-style-type: none;
}
li {
}
li.fail {
    color: red;
}

li.success {
    color: green;
}

