{% extends "index.html" %}

{% block body %}
<div class="sidebar"><strong>Current article:</strong> {{ article }}<br/><strong>Hops made:</strong> {{ hops }}</div>
<form method="POST" action="move">
    <fieldset>
        <input type="hidden" name="currentArticle" value="{{article}}">
        {% for href in hrefs %}
        <input type="radio" id="v{{loop.index}}" name="article" value="{{href}}" {% if loop.index == 1%}checked{%endif%}>
        <label for="v{{loop.index}}">{{href}}</label><br/>
        {% endfor %}
        <input type="radio" id="philosophy" name="article" value="Philosophy"><label style="color: red" for="philosophy"> Cheating: Philosophy</label><br/>
        <div class="center_wrapper">
            <input type="submit" value="Submit" id="answer_button">
        </div>
    </fieldset>
</form>
{% endblock%}
