<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <title>Six degrees to philosophy</title>
    </head>
    <body>
        <div id="main">
            <h1 id="header"><a href="/" class="header_link">Six degrees of philosophy</a></h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            {% block body %}

            {# This is the block named "body" whose contents you should modify #}

            <div class="center">
                <form action="new-game" method="POST">
                    <input type="text" name="article" placeholder="Article to start from?" class="submission_field" id="new_article">
                    <input type="submit" value="Go!" class="submission_field" id="go_button">
                </form>
            </div>

            {# This is the end of the "body" block #}
            {% endblock %}
            <h1 id="header"><a href="/" class="header_link">Six degrees of philosophy</a></h1>
        </div>
    </body>
</html>
